<div class="flex flex-col gap-12 md:gap-16">
  <div class="flex gap-5 flex-col">
    <p class="text-left font-bold">Carbon Emission by Activity Type (co2e)</p>
    <% if @carbon_emissions_by_activity_type.any? %>
      <div class="md:flex flex-row">
        <%= pie_chart @carbon_emissions_by_activity_type, library: { title: { text: 'Carbon Emission by Activity Type' } } %>
        <%= column_chart @carbon_emissions_by_activity_type, library: { title: { text: 'Carbon Emission by Activity Type' } } %>
      </div>
    <% else %>
      <p>No data available.</p>
    <% end %>
  </div>

  <div class="flex gap-5 flex-col">
    <p class="text-left font-bold">Carbon Emission by Category (co2e)</p>
    <% if @carbon_emissions_by_category.any? %>
      <div class="md:flex flex-row">
        <%= pie_chart @carbon_emissions_by_category, library: { title: { text: 'Carbon Emission by Category' } } %>
        <%= column_chart @carbon_emissions_by_category, library: { title: { text: 'Carbon Emission by Category' } } %>
      </div>
    <% else %>
      <p>No data available.</p>
    <% end %>
  </div>
</div>

