<div class="flex flex-col items-center">
  <div>
    <%= image_tag "help-logo.png", alt: "Help University logo", class: "rounded-full max-w-32" %>
  </div>
  <%= @user.username %>
</div>


<%= ClimatiqEstimationService.calculate_carbon_emission(1, 200) %>